.user-container {
    background-color: rgb(236, 163, 67);
    padding: 0px;
    color: black;
    display: flex;
    flex-direction: column;
    /* stack name, image, description vertically */
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* spacing between child elements */
}

#user-image {
    height: 80px;
    width: 80px;
    border-radius: 60%;
    object-fit: cover;
    border: 3px solid white;
    /* optional: for styling */
}
#user-description{
    padding: 7px;
    
}